# Yarn
.yarn*
/node_modules

# generated 
/dist
/build
/coverage
/.cache
/.next/
/out/

# production
/build
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env.test
.env.local
.env.production

# vercel
.vercel

# turborepo
.turbo
