{
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"importOrder": ["^react$", "<THIRD_PARTY_MODULES>"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"insertPragma": false,
	"printWidth": 80,
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": false,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"tabWidth": 2,
	"trailingComma": "es5",
	"useTabs": true
}
